{% include 'header.html' %}

<h1>Register</h1>

<p id="message">
{% if message %}
{{ message }}
{% endif %}
</p>

<form id="registration" method="POST">
  <input type="text" name="fullname" placeholder="Full Name">
  <input type="text" name="username" placeholder="Username">
  <input id="pass1" type="password" name="password" placeholder="Password">
  <input id="pass2" type="password" placeholder="Password Again">
  <button type="button" onclick="submitForm()">Register</button>
</form>

<script>
var submitForm = function() {
  var pass1 = $('#pass1').val();
  var pass2 = $('#pass2').val();

  $('#message').text('');

  if(pass1 !== pass2) {
    $('#message').text('Passwords do not match');
  } else {
    $('#registration').submit();
  }
}
</script>

{% include 'footer.html' %}