@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

html,
body {
    height: 100%;
}

* {
    font-family: 'Raleway';
}

h1,
.title {
    margin: 0;
    font-family: 'Montserrat';
}

.fa
{
  color: #FFF;
}

.hero {
    background: #FF5E3A;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FF5E3A, #FF2A68);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF5E3A, #FF2A68);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF5E3A, #FF2A68);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF5E3A, #FF2A68);
    /* Standard syntax */
    color: #FFF;
    height: 100%
}

.element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.1 {
    animation-delay: 250ms;
    -webkit-animation-delay: 250ms;
}

.2 {
    animation-delay: 500ms;
    -webkit-animation-delay: 500ms;
}

.3 {
    animation-delay: 750ms;
    -webkit-animation-delay: 750ms;
}

.4 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.spin {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.container {
    padding-top: 50px
}

.nav-wrapper {
    background: #F7F7F7;
    color: #000;
}
